.data {
  width: 600px;
  height: 1px;
  background-color: #8e8e8e;
  margin: 0 auto;
  margin-bottom: 70px;
  position: sticky;
  top: 60px;
  line-height: 1px;
}

.data::before,
.data::after {
  display: inline-block;
  position: relative;
}

.data::before {
  content: "1935";
  left: -40px;
}

.data::after {
  content: "2016";
  float: right;
  right: -40px;
}

.data__item {
  position: absolute;
  width: 6px;
  height: 6px; 
  border-radius: 50%;
  background-color: #8e8e8e;
  display: block;
}

.data__item--1 {
  bottom: 5px;
  left: 10px;
}

.data__item--2 {
  bottom: 5px;
  left: 20px;
}

.data__item--3 {
  bottom: 15px;
  left: 20px;
}

.data__item--4 {
  bottom: 5px;
  left: 70px;
}

.data__item--5 {
  bottom: 5px;
  left: 120px;
}

.data__item--6 {
  bottom: 5px;
  left: 130px;
}

.data__item--7 {
  bottom: 15px;
  left: 130px;
}

.data__item--8 {
  bottom: 25px;
  left: 130px;
}

.data__item--9 {
  bottom: 5px;
  left: 140px;
}

.data__item--10 {
  bottom: 15px;
  left: 140px;
}

.data__item--11 {
  bottom: 5px;
  left: 190px;
}

.data__item--12 {
  bottom: 15px;
  left: 190px;
}

.data__item--13 {
  bottom: 5px;
  left: 240px;
}

.data__item--14 {
  bottom: 5px;
  left: 250px;
}

.data__item--15 {
  bottom: 15px;
  left: 250px;
}

.data__item--16 {
  bottom: 5px;
  left: 260px;
}

.data__item--17 {
  bottom: 5px;
  left: 270px;
}

.data__item--18 {
  bottom: 15px;
  left: 270px;
}

.data__item--19 {
  bottom: 5px;
  left: 280px;
}

.data__item--20 {
  bottom: 5px;
  left: 290px;
}

.data__item--21 {
  bottom: 5px;
  left: 340px;
}

.data__item--22 {
  bottom: 5px;
  left: 390px;
}

.data__item--23 {
  bottom: 5px;
  left: 400px;
}

.data__item--24 {
  bottom: 15px;
  left: 390px;
}

.data__item--25 {
  bottom: 5px;
  left: 440px;
}

.data__item--26 {
  bottom: 5px;
  left: 450px;
}

.data__item--27 {
  bottom: 5px;
  left: 500px;
}

.data__item--28 {
  bottom: 5px;
  left: 510px;
}

.data__item--29 {
  bottom: 5px;
  left: 520px;
}

.data__item--30 {
  bottom: 5px;
  left: 570px;
}

.data__item--white {
  background-color: white;
}