.mentions {
  width: 950px;
  margin: 0 auto;
  color: white;
  font-family: "neuzerit";
}

.mentions__title {
  margin: 20px auto;
  margin-bottom: 80px;
}

.mentions__text {
  font-size: 16px;
  margin: 0 auto;
  width: 400px;
  margin-bottom: 30px;
  line-height: 23px;
}

.mentions__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.mentions__data {
  margin: 0 auto;
  margin-bottom: 70px;
  position: sticky;
  top: 60px;
}

.mentions__list--mini .mention__author-avatar  {
  width: 6px;
  height: 6px;
  box-sizing: border-box;
}

.mentions__list--mini .mention__author-name,
.mentions__list--mini .mention__text {
  opacity: 0;
}