.mentions {
  width: 950px;
  margin: 0 auto;
  color: white;
  font-family: "neuzerit";
  //padding-bottom: 500px; // временно
  height: 2800px;
}

.mentions__title {
  margin: 20px auto;
  margin-bottom: 80px;
}

.mentions__text {
  font-size: 16px;
  margin: 0 auto;
  width: 400px;
  margin-bottom: 30px;
  line-height: 23px;
}

.mentions__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.mentions__data {
  margin: 0 auto;
  margin-bottom: 70px;
  position: sticky;
  position: -webkit-sticky;
  top: 60px;
}

.mentions__list--mini .mention__author-avatar  {
  //width: 6px;
  //height: 6px;
  //box-sizing: border-box;
  
  position: relative;
  //top: 150px;
  //left: 50%;
  
  transform: scale(0.14);
  background-image: none;
  background-color: white;
}
/*
.mentions__list--mini .mention__author-avatar::before {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
} */

.mentions__list--mini .mention {
  //padding-top: 40px;
}

.mentions__list--mini .mention__author-name,
.mentions__list--mini .mention__text {
  opacity: 0;
}